<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body >
	<div id = 'loader'></div>
	<div id = 'content' hidden>
		<form class = 'featureSearch'>
			<select name="search" id = 'search'>
				<option value = ''>-----Select Sport-----</option>
				<option value = 'Soccer'>Soccer</option>
				<option value = 'Baseball/Softball'>Baseball</option>
				<option value = 'Basketball (Half)'>Half-Court Basketball</option>
				<option value = 'Basketball (Full)'>Full-Court Basketball</option>
				<option value = 'Tennis Court (Outdoor)'>Tennis</option>
				<option value = 'Football'>Football</option>
				<option value = 'T-Ball'>T-ball</option>
				<option value = 'Cricket'>Cricket</option>
				<option value = 'Golf'>Golf</option>
				<option value = 'Lacrosse'>Lacrosse</option>
				<option value = 'Lawn Bowling'>Lawn Bowling</option>
				<option value = 'Rugby'>Rugby</option>
				<option value = 'Skatepark'>Skateboarding</option>
				<option value = 'Track'>Track Running</option>
				<option value = 'Hiking Trails'>Hiking</option>
				<option value = 'Ultimate'>Ultimate Frisbee</option>
				<option value = 'Pool (Indoor)'>Indoor Pool</option>
				<option value = 'Pool (Outdoor)'>Outdoor Pool</option>
			</select>
			<input type="Submit" name="Search">
		</form>
		<div id="map"></div>
		<div id="results">
			
		</div>
	</div>
	<script type="text/javascript" src='js/maps.js'></script>
	<script type="text/javascript" src='js/ajax.js'></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLE_API_KEY%>&callback=initMap"
    async defer></script>

</body>
</html>